.hero {
  position: sticky;
  width: var(--hero-teaser-width);
  height: var(--hero-teaser-height);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

/*
@media only screen and (max-width: 999px) {
  .hero {
    height: calc(var(--hero-teaser-height) / 2);
  }
}
*/

.hero.iframe {
  height: 800px;
  background-color: var(--main-dark-background);
}

header .hero>.container img {
  width: 100%;
  /*height: 100%; */ /* remove for RL */
  object-fit: cover;
  /*position: fixed;*/ /* remove for RL */
  top: 0;
  z-index: -999;
}

header .hero {
  z-index: -999;
}

.hero .content-block {
  position: relative;
  text-align: center;
}

.hero .content-block h1,
.hero .content-block h2,
.hero .content-block .title {
  color: #fff;
  text-shadow: 1px 1px #333;
  color: white;
  font-size: var(--h1FontSize);
  font-family: var(--body-title-font-family);
  font-weight: var(--h1FontWeight);
  line-height: var(--line-height-l);
  overflow-wrap: break-word;
  margin: 27px 0 13.5px 0;
  padding: 0;
}

.featured .content-block .title {
  font-size: 28px;
  font-family: adobe-clean, arial, sans-serif;
  font-weight: 500;
  line-height: 42px;
  margin: 27px 0 13.5px 0;
}

.hero .content-block .preTitle {
  color: #fff;
  font-family: adobe-clean, arial, sans-serif;
  font-weight:500;
  margin-bottom: 13.5px;
  margin-top: 27px;
  font-size: 28px;
  text-shadow: 1px 1px #333;
}

.featured .content-block .preTitle {
  font-size: 16px;
  font-family: adobe-clean, arial, sans-serif;
  font-weight: 600;
  line-height: 21px;
  margin: 23px 0;
  padding: 0;
  color: #FE3931;
  text-transform: uppercase;
}

.hero .content-block .description {
  /*display: none;*/
}

.featured .content-block .description {
  font-size: 3vw;
  line-height: 1.5;
  margin: 16px 0 21.5px;
  text-align: justify;
}

.hero .content-block .button {
  display: none;
}

.teaser .content-block span {
  display: block;
}

.hero>.container video, .hero>.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.hero .content-block .hero-image-title img {
  width: 100%;
  height: initial;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 1em;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.hero .content-block .seperator {
  width: 128px;
  height: 5px;
  display: block;
  content: "";
  background-color: var(--main-accent-color);
  transition: width .4s ease-in-out;
  margin: auto;
}

.hero-content {
  position: relative;
}

/** featured **/
.teaser.featured {
  /*background-color: var(--main-light-background); */ /* remove for RL */
  margin: auto;
  width: 100%;
  border-radius: 5px;
}

.teaser.featured>.container {
  display: flex;
  flex-direction: column; 
  /*align-items: center; */ /* remove for RL */
  align-items: flex-start; /* add for RL */
  margin: auto;
  justify-content: space-around;
  opacity: 1;
}

.teaser.featured>.container>picture>img, .teaser.featured>.container>video {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.teaser.featured>.container>.content-block {
  max-width: 500px;
  padding: 0 22px 22px;
}

@media only screen and (min-width: 1000px) {
  .teaser.featured>.container>picture>img {
    width: 660px;
    box-shadow: 20px 20px var(--main-accent-color);
  }

  .teaser.featured>.container>video {
    width: 660px;
    box-shadow: 20px 20px var(--main-accent-color);
  }

  .teaser.featured>.container {
    /*flex-direction: var(--featured-teaser-direction); */ /* remove for RL */
    /*align-items: center; */ /* remove for RL */
    align-items: flex-start; /* add for RL */
    padding: 7% 5%;
  }

  .teaser.featured {
    /*max-width: 1430px;*/ /* remove for RL */
  }

  .teaser.featured>.container>.content-block p {
    font-size: 1vw;
    text-align: left;
  }
}

/* custom for RL */
.teaser.featured {
  display: flex;
}
.hero .content-block .description, .hero .content-block a {
    text-align: center;
    color:#fff;
}

.hero .content-block h2, .hero .content-block h3, .hero .content-block p {
    text-align: center;
    color: #fff;
    font-family: 'lejeune-deck', 'Times New Roman', Times, serif !important;
}
.featured .content-block {
    text-align: left;
    color: #fff;
    font-family: 'lejeune-deck', 'Times New Roman', Times, serif !important;
}
.featured .content-block h3, .featured .content-block h2, .featured .content-block p, .featured .content-block a {
    text-align: left;
    color: #fff;
    font-family: "LeJeuneDeck-Regular", "lejeune-deck", Times, serif;
}
.hero .content-block h2, .hero .content-block h3 {
    margin-top: 1em;
}

.hero .content-block a, .featured .content-block a {
    text-decoration: underline;
}

.hero .content-block {
    font-family: 'lejeune-deck', 'Times New Roman', Times, serif !important;
    text-transform: none;
    color: currentColor;
    text-align: inherit;
}

.hero .hero-image-title {
    margin-bottom: 1.5em;
    max-width: 362px;
    height: 80px;
}
.rlc-dek, .rlc-teaser-title {
  font-family: "LeJeuneDeck-Regular", Times, serif;
  margin: auto;
  font-size: 1.125em;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 32em;
  color: #fff;
}
.hero .rlc-teaser-title {
  margin-top: 1em;
  font-size: var(--fontSizeH3);
}
.hero .rlc-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#rlc-duo1-container .rlc-bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.rl-featured-background-img {
  background-image: url('https://www.ralphlauren.com/on/demandware.static/-/Library-Sites-RalphLauren_NA_Library/en_US/v1740050097386/img/202502/20250204-homepage-banner/0204_hp_c02_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .rlc-desktop-text-center {
      text-align: center;
      padding-top: 5%;
      padding-right: 10%;
  }
}
@media only screen and (min-width: 768px) {
    #rlc-duo1-r .rlc-title {
        color: #041e3a;
        margin-top: 1em;
        /* margin-bottom: -0.6em; */
        line-height: 0em;
        text-align: center;
        font-size: 1.8em;
        font-family: "LeJeuneDeck-Regular", "lejeune-deck", Times, serif;
    }
}
#rlc-cardstack1 {
  width: 29.250em;
  height: 36em;
  margin-top: 2.5em;
}
@media only screen and (min-width: 1920px) {
  .rlc-creative_v3.rlc-1440_375_max1920 .rlc-fullbleed {
      font-size: 21.3333333px !important;
      max-width: 1920px;
  }
}
.rlc-textgroup h3 {
  color: #041e3a;
  font-size: 1.8em;
  font-family: "LeJeuneDeck-Regular", "lejeune-deck", Times, serif;
}
.featured .rlc-picture img {
  width: 624px;
  height: 800px; /* RL shows 841.28px; */
}
.home-hero .content-block .rlc-dek, .home-hero .content-block .rlc-teaser-title {
  padding-top: 1em;
}